#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "VBE Video Miniport Driver (NT3)"
#define VER_INTERNALNAME_STR        "vbemp.sys"
#define VER_ORIGINALFILENAME_STR    "vbemp.sys"

#include "common.ver"
